
<!DOCTYPE html>
<html style="margin-left: 10%">

<body>
<h1 style="color: red">INQUIRY/APPLICATION FORM.</h1>
<hr style="margin-right:10%">
<h1>Please fill in the input form here and send. The person in charge will contact you shortly.</h1>
<table style="width: 90%; border-color: black ; font-size: 20px "border="1px" >
<tbody>
<tr >
<td style="width: 30%; padding: 2%; background-color: #EEEEEE; ">Your name *</td>
<td style="width:70%;padding: 2%;"><form action="send.html">
    <input type="text" name="username" placeholder="Username" pattern="[a-z]{1,15}" title="Username should only contain lowercase letters. e.g. tung">
</form>
</td>
<!-- Input field  -->
</tr>

<tr >
<td style="width: 30%; padding: 2%;background-color: #EEEEEE; ">Name Katakana *</td>
<td style="width:70%;padding: 2%;"><form action="send.html">
 <input type="text" name="katananame" placeholder="Katana name" pattern="[a-zA-Z0-9]{1,25}"title="Not a katana name"></td></form>
 <!-- Input field  -->
</tr>

<tr >
<td style="width: 30%; padding: 2%; background-color: #EEEEEE; ">Your company name</td>
<td style="width:70%;padding: 2%;">
    <form action="send.html">
        <input type="text" placeholder="Company Name" pattern="[a-zA-Z0-9]{1,20}"title="Not a company name"></td><!-- Input field  -->
</form></tr>

<tr >
<td style="width: 30%;padding: 2%; background-color: #EEEEEE; ">Phone number</td>
<td style="width:70%;padding: 2%;"><form action="send.html">
    <input type="number" id="phonenumber" placeholder="Enter Your Phone Number" title="Not a phone number" ></td></form><!-- Input field  -->
</tr>

<tr >
<td style="width: 30%; padding: 2%; background-color: #EEEEEE; ">Postal code</td>
<td style="width:70%;padding: 2%;"><form action="send.html"><input type="number" id="postalcode" placeholder="Enter your postal code" title="Not a postal code" ></td><!-- Input field  -->
</tr>

<tr >
<td style="width: 30%; padding: 2%;background-color: #EEEEEE; ">Prefectures</td>
<td style="width:70%;padding: 2%;"><form action="send.html">
 <input type="text" name="Prefectures" placeholder="Enter Prefectures" pattern="[a-zA-Z0-9]{1,25}"title="Not a Prefectures"></td></form>
</tr>

<tr >
<td style="width: 30%; padding: 2%; background-color: #EEEEEE; ">City</td>
<td style="width:70%;padding: 2%;"><form action="send.html">
 <input type="text" name="cityname" placeholder="City name" pattern="[a-zA-Z0-9]{1,25}"title="Not a city name"></td></form>
</tr>

<tr >
<td style="width: 30%; padding: 2%;background-color: #EEEEEE; ">Inquiry item *</td>
<td style="width:70%;padding: 2%;"><form style="width: 100%" size="50">
  <select id="company">
    <option value="1">Company visit</option>
    <option value="2">System development</option>
    <option value="3">Bussiness partnership</option>
    <option value="4">Quote</option>
    <option value="5">Documents request</option>
    <option value="6">Others</option>
    
  </select></form>
</tr>

<tr >
<td style="width: 30%; padding: 2%; background-color: #EEEEEE; ">Inquiry content *</td>
<td style="width:70%;padding: 2%;"><form action="send.html">
 <input type="text" name="Inquiry" placeholder="Enter Inquiry content *" pattern="[a-zA-Z0-9 ]{1,25}"title="Please check again"></td></form>
</td>
</tr>

<!-- <tr >
<td style="width: 30%;padding: 2%;padding: 2%; background-color: #EEEEEE; ">Email address</td>
<td style="width:70%;padding: 2%;padding: 2%;"><input type="text" id="emailconfirm" ></td>
</tr>

<script type="text/javascript">
    function confirmEmail() {
        var email = document.getElementById("email").value
        var confemail = document.getElementById("confirmemail").value
        if(email != confirmemail) {
            alert('Email Not Matching!');
        }
    }
</script> -->
<tr>
<td style="width: 30%;padding: 2%;; background-color: #EEEEEE;">Email address (confirmation) *</td>
<!-- button link sang sendmailController -->
<td style="width:70%;padding: 2%;">
    <form method="post" action="{{url_for('sendmail2')}}">
                <input type="email" placeholder="Enter your email" name="sendmail" />

</td>
</tr>


</tbody>
</table>
<button style="padding :1% ;background-color: rgb(235,97,13); border-radius: 5px;border : 0.5px;color : white ; float : right ; margin-top: 0.5%; margin-right: 10% " ; type="submit" >Sending Confirmation</button>
</form>

 

<!-- button link to sendmailController -->
       <!--  <form method="post" action="{{url_for('sendmail2')}}">
                <input type="text" name="sendmail" />
                <button type="submit">Send Mail</button>
        </form>
    
